hardhat/node_modules
hardhat/.openzeppelin
hardhat/artifacts
hardhat/cache
ERC721/node_modules
centralizedAPI/env
NestJs/CRUD/node_modules
Final Project/apiTesting/node_modules
Final Project/APIBitcoin/node_modules